/** css/custom.css **/

/* This line is theme specific - it includes the base theme CSS */
@import 'theme.css';  /* for the ReadTheDocs theme */

/* Replace the standard copyright statement with one compatible with 
   The Met Office style  */
div[role=contentinfo] {
	visibility: hidden;
	position: relative;
}

div[role=contentinfo]:after {
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	content: "\00A9 \ Crown copyright 2023 Met Office. All rights reserved.";
}

