# ------------------------------------------------------------------------------
#  (c) Crown copyright 2025 Met Office. All rights reserved.
#  The file LICENCE, distributed with this code, contains details of the terms
#  under which the code may be used.
# ------------------------------------------------------------------------------

name: Build Docs

on:
  workflow_call:

  concurrency:
      group: build-docs-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}
      cancel-in-progress: true

jobs:
  pages:
    runs-on: ubuntu-24.04
    steps:
      - id: extract
        uses: actions/checkout@v4
        with:
          ref: main
      - id: setup_environment
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: 'pip'
      - id: finesse_environment
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install sphinx==8.1.0 pydata-sphinx-theme==0.16.1 sphinx-sitemap==2.6.0 sphinx_design==0.6.1
      - id: sphinx
        run: |
          cd documentation
          make html
      - id: permissions
        run: |
          chmod -c -R +rX "documentation/build/html/"
      - id: deployment
        if: ${{ github.event_name == 'push' || github.event_name == 'merge_group'}}
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: documentation/build/html
          retention-days: 1

