# ------------------------------------------------------------------------------
#  (c) Crown copyright 2025 Met Office. All rights reserved.
#  The file LICENCE, distributed with this code, contains details of the terms
#  under which the code may be used.
# ------------------------------------------------------------------------------

name: pr
on:
  pull-request:
    branches:
      - main

jobs:
  build-docs:
      uses: ./.github/workflows/build-docs.yml
