# ------------------------------------------------------------------------------
#  (c) Crown copyright 2025 Met Office. All rights reserved.
#  The file LICENCE, distributed with this code, contains details of the terms
#  under which the code may be used.
# ------------------------------------------------------------------------------

name: pr
run-name: Pull Request ${{github.event.pull_request.number}}
on:
  pull_request:
    branches:
      - main

concurrency:
  group: pr-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}
  cancel-in-progress: true

jobs:
  build-docs:
    name: Build Docs
    uses: ./.github/workflows/build-docs.yml
